    <div class="container-fluid">
      <div style="margin:20px 0 20px">
        <div class="row">
          <div class='col-sm-3'>
            <div class="form-group">
              <div class='input-group date'>
                <input type='text' class="form-control"  id='datetimepicker1' value="<%= @from %>"/>
                <span id="btnShowDatetimePicker1" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              </div>
            </div>
          </div>
          <div class='col-sm-3'>
            <div class="form-group">
              <div class='input-group date'>
                <input type='text' class="form-control"  id='datetimepicker2' value="<%= @to %>"/>
                <span id="btnShowDatetimePicker2" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="btn-group" role="group" aria-label="...">
              <button id="btnRefresh" type="btnRefresh" class="btn btn-default">REFRESH</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <div class="btn-group" role="group" aria-label="...">
              <button id="btnToday" type="button" class="btn btn-default">Today</button>
              <button id="btnYesterday" type="button" class="btn btn-default">Yesterday</button>
              <button id="btnThisWeek" type="button" class="btn btn-default">This Week</button>
              <button id="btnLastWeek" type="button" class="btn btn-default">Last Week</button>
              <button id="btnThisMonth" type="button" class="btn btn-default">This Month</button>
              <button id="btnLastMonth" type="button" class="btn btn-default">Last Month</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul class="list-group">
            <li class="list-group-item active">
              <%= link_to 'Domain by % delivered', domains_by_status_path(:status => 'sent'), style: 'color: white' %>
            </li>
            <% @dommain_by_sent.each { |r| %>
              <li class="list-group-item">
                <span class="badge"><%= number_to_percentage r.percentage, precision: 2 %></span>
                <%= link_to r.domain, users_by_domain_path(base64_domain: Base64::strict_encode64(r.domain)) %>
              </li>
            <% } %>
            
            <% 1.upto(5 - @dommain_by_sent.count) do |i| %>
              <li class="list-group-item">
                ---
              </li>
            <% end %>
          </ul>
        </div>

        <div class="col-md-3">
          <ul class="list-group">
            <li class="list-group-item active">
              <%= link_to 'Domain by % deferred', domains_by_status_path(:status => 'deferred'), style: 'color: white' %>
            </li>
            <% @dommain_by_deferred.each { |r| %>
              <li class="list-group-item">
                <span class="badge"><%= number_to_percentage r.percentage, precision: 2 %></span>
                <%= link_to r.domain, users_by_domain_path(base64_domain: Base64::strict_encode64(r.domain)) %>
              </li>
            <% } %>
            
            <% 1.upto(5 - @dommain_by_deferred.count) do |i| %>
              <li class="list-group-item">
                ---
              </li>
            <% end %>
          </ul>
        </div>

        <div class="col-md-3">
          <ul class="list-group">
            <li class="list-group-item active">
              <%= link_to 'Domain by % bounced', domains_by_status_path(:status => 'bounced'), style: 'color: white' %>
            </li>
            <% @dommain_by_bounced.each { |r| %>
              <li class="list-group-item">
                <span class="badge"><%= number_to_percentage r.percentage, precision: 2 %></span>
                <%= link_to r.domain, users_by_domain_path(base64_domain: Base64::strict_encode64(r.domain)) %>
              </li>
            <% } %>
            
            <% 1.upto(5 - @dommain_by_bounced.count) do |i| %>
              <li class="list-group-item">
                ---
              </li>
            <% end %>
          </ul>
          </ul>
        </div>

        <div class="col-md-3">
          <ul class="list-group">
            <li class="list-group-item active">
              <%= link_to 'Domain by % rejected', domains_by_status_path(:status => 'rejected'), style: 'color: white' %>
            </li>
            <% @dommain_by_rejected.each { |r| %>
              <li class="list-group-item">
                <span class="badge"><%= number_to_percentage r.percentage, precision: 2 %></span>
                <%= link_to r.domain, users_by_domain_path(base64_domain: Base64::strict_encode64(r.domain)) %>
              </li>
            <% } %>
            
            <% 1.upto(5 - @dommain_by_rejected.count) do |i| %>
              <li class="list-group-item">
                ---
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <ul class="list-group">
            <li class="list-group-item active">
              <%= link_to 'Domain by volume delivered', domains_by_status_path(:status => 'sent'), style: 'color: white' %>
            </li>

            <% @dommain_by_sent_count.each { |r| %>
              <li class="list-group-item">
                <span class="badge"><%= r.volume %></span>
                <%= link_to r.domain, users_by_domain_path(base64_domain: Base64::strict_encode64(r.domain)) %>
              </li>
            <% } %>
            
            <% 1.upto(5 - @dommain_by_sent.count) do |i| %>
              <li class="list-group-item">
                ---
              </li>
            <% end %>
          </ul>
        </div>

        <div class="col-md-3">
          <ul class="list-group">
            <li class="list-group-item active">
              <%= link_to 'Domain by volume deferred', domains_by_status_path(:status => 'deferred'), style: 'color: white' %>
            </li>
            <% @dommain_by_deferred_count.each { |r| %>
              <li class="list-group-item">
                <span class="badge"><%= r.volume %></span>
                <%= link_to r.domain, users_by_domain_path(base64_domain: Base64::strict_encode64(r.domain)) %>
              </li>
            <% } %>
            
            <% 1.upto(5 - @dommain_by_deferred.count) do |i| %>
              <li class="list-group-item">
                ---
              </li>
            <% end %>
          </ul>
        </div>

        <div class="col-md-3">
          <ul class="list-group">
            <li class="list-group-item active">
              <%= link_to 'Domain by volume bounced', domains_by_status_path(:status => 'bounced'), style: 'color: white' %>
            </li>
            <% @dommain_by_bounced_count.each { |r| %>
              <li class="list-group-item">
                <span class="badge"><%= r.volume %></span>
                <%= link_to r.domain, users_by_domain_path(base64_domain: Base64::strict_encode64(r.domain)) %>
              </li>
            <% } %>
            
            <% 1.upto(5 - @dommain_by_bounced.count) do |i| %>
              <li class="list-group-item">
                ---
              </li>
            <% end %>
          </ul>
        </div>

        <div class="col-md-3">
          <ul class="list-group">
            <li class="list-group-item active">
              <%= link_to 'Domain by volume rejected', domains_by_status_path(:status => 'rejected'), style: 'color: white' %>
            </li>
            <% @dommain_by_rejected_count.each { |r| %>
              <li class="list-group-item">
                <span class="badge"><%= r.volume %></span>
                <%= link_to r.domain, users_by_domain_path(base64_domain: Base64::strict_encode64(r.domain)) %>
              </li>
            <% } %>
            
            <% 1.upto(5 - @dommain_by_rejected.count) do |i| %>
              <li class="list-group-item">
                ---
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  
<script>
  // Global
  var MainIndex = {
    DATE_FORMAT: 'YYYY/MM/DD',
    LIMIT: '5',
    OFFSET: '0',
    reload: function(params) {
      params.limit = this.LIMIT;
      params.offset = this.OFFSET;
      window.location.href = window.location.pathname + '?' + $.param(params);
    },
    view_by: function(view) {
      var params;
      switch(view) {
        case 'today':
          params = {
            from: moment().format(this.DATE_FORMAT),
            to: moment().format(this.DATE_FORMAT)
          };
          break;
        case 'yesterday':
          params = {
            from: moment().subtract(1, "days").format(this.DATE_FORMAT),
            to: moment().subtract(1, "days").format(this.DATE_FORMAT)
          };
          break;
        case 'this-week':
          params = {
            from: moment().startOf('week').format(this.DATE_FORMAT),
            to: moment().endOf('week').format(this.DATE_FORMAT)
          };
          break;
        case 'last-week':
          params = {
            from: moment().subtract(7, "days").startOf('week').format(this.DATE_FORMAT),
            to: moment().subtract(7, "days").endOf('week').format(this.DATE_FORMAT)
          };
          break;
        case 'this-month':
          params = {
            from: moment().startOf('month').format(this.DATE_FORMAT),
            to: moment().endOf('month').format(this.DATE_FORMAT)
          };
          break;
        case 'last-month':
          params = {
            from: moment().subtract(1, "months").startOf('month').format(this.DATE_FORMAT),
            to: moment().subtract(1, "months").endOf('month').format(this.DATE_FORMAT)
          };
          break;
        case 'dates':
          params = {
            from: $('#datetimepicker1').val(),
            to: $('#datetimepicker2').val()
          };
          break;
        default:
          alert('invalid input');
      }

      $('#datetimepicker1').val(params.from);
      $('#datetimepicker2').val(params.to);
      
      this.reload(params);
    }
  }

	jQuery(document).ready(function() {
    // datepicker
    $('#datetimepicker1').datepicker();
    $('#datetimepicker2').datepicker();

    $( "#datetimepicker1" ).datepicker( "option", "dateFormat", 'yy/mm/dd' );
    $( "#datetimepicker2" ).datepicker( "option", "dateFormat", 'yy/mm/dd' );

    $('#datetimepicker1').val('<%= @from %>');
    $('#datetimepicker2').val('<%= @to %>');


    // bind event
    $( "#btnToday" ).on( "click", function() {
      $( this ).prop( "disabled", true );
      MainIndex.view_by('today');
    });

    $( "#btnYesterday" ).on( "click", function() {
      $( this ).prop( "disabled", true );
      MainIndex.view_by('yesterday');
    });

    $( "#btnThisWeek" ).on( "click", function() {
      $( this ).prop( "disabled", true );
      MainIndex.view_by('this-week');
    });

    $( "#btnLastWeek" ).on( "click", function() {
      $( this ).prop( "disabled", true );
      MainIndex.view_by('last-week');
    });

    $( "#btnThisMonth" ).on( "click", function() {
      $( this ).prop( "disabled", true );
      MainIndex.view_by('this-month');
    });

    $( "#btnLastMonth" ).on( "click", function() {
      $( this ).prop( "disabled", true );
      MainIndex.view_by('last-month');
    });

    $( "#btnRefresh" ).on( "click", function() {
      $( this ).prop( "disabled", true );
      MainIndex.view_by('dates');
    });

    $( "#btnShowDatetimePicker1" ).on( "click", function() {
      $('#datetimepicker1').datepicker( 'show' );
    });

    $( "#btnShowDatetimePicker2" ).on( "click", function() {
      $('#datetimepicker2').datepicker( 'show' );
    });
	});
</script>