    <div class="container-fluid">
      <div style="margin:20px 0 20px">
        <div class="row">
          <div class='col-sm-3'>
            <div class="form-group">
              <div class='input-group date'>
                <input type='text' class="form-control"  id='datetimepicker1' value="<%= @from %>"/>
                <span id="btnShowDatetimePicker1" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              </div>
            </div>
          </div>
          <div class='col-sm-3'>
            <div class="form-group">
              <div class='input-group date'>
                <input type='text' class="form-control"  id='datetimepicker2' value="<%= @to %>"/>
                <span id="btnShowDatetimePicker2" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="btn-group" role="group" aria-label="...">
              <button id="btnRefresh" type="btnRefresh" class="btn btn-default">REFRESH</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <div class="btn-group" role="group" aria-label="...">
              <button id="btnToday" type="button" class="btn btn-default">Today</button>
              <button id="btnYesterday" type="button" class="btn btn-default">Yesterday</button>
              <button id="btnThisWeek" type="button" class="btn btn-default">This Week</button>
              <button id="btnLastWeek" type="button" class="btn btn-default">Last Week</button>
              <button id="btnThisMonth" type="button" class="btn btn-default">This Month</button>
              <button id="btnLastMonth" type="button" class="btn btn-default">Last Month</button>
            </div>

            <div id='btnExport' class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download CSV
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <ol class="breadcrumb" style="margin-top: 20px">
              <li><a href="/">Home</a></li>
              <li class="active"><%= link_to @domain, users_by_domain_path(base65_domain: @encoded_domain) %></li>
              <li class="active">Recipient Summary</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table id="main-table" class="display table" cellspacing="0" width="100%"></table>
        </div>
      </div>
    </div>

<script>
  // Global
  var MainUser = {
    DATE_FORMAT: 'YYYY/MM/DD',
    FROM: '<%= @from %>',
    TO: '<%= @to %>',
    reload: function(params) {
      window.location.href = window.location.pathname + '?' + $.param(params);
    },
    view_by: function(view) {
      var params;
      switch(view) {
        case 'today':
          params = {
            from: moment().format(this.DATE_FORMAT),
            to: moment().format(this.DATE_FORMAT)
          };
          break;
        case 'yesterday':
          params = {
            from: moment().subtract(1, "days").format(this.DATE_FORMAT),
            to: moment().subtract(1, "days").format(this.DATE_FORMAT)
          };
          break;
        case 'this-week':
          params = {
            from: moment().startOf('week').format(this.DATE_FORMAT),
            to: moment().endOf('week').format(this.DATE_FORMAT)
          };
          break;
        case 'last-week':
          params = {
            from: moment().subtract(7, "days").startOf('week').format(this.DATE_FORMAT),
            to: moment().subtract(7, "days").endOf('week').format(this.DATE_FORMAT)
          };
          break;
        case 'this-month':
          params = {
            from: moment().startOf('month').format(this.DATE_FORMAT),
            to: moment().endOf('month').format(this.DATE_FORMAT)
          };
          break;
        case 'last-month':
          params = {
            from: moment().subtract(1, "months").startOf('month').format(this.DATE_FORMAT),
            to: moment().subtract(1, "months").endOf('month').format(this.DATE_FORMAT)
          };
          break;
        case 'dates':
          params = {
            from: $('#datetimepicker1').val(),
            to: $('#datetimepicker2').val()
          };
          break;
        default:
          alert('invalid input');
      }

      $('#datetimepicker1').val(params.from);
      $('#datetimepicker2').val(params.to);
      
      this.reload(params);
    }
  }

	jQuery(document).ready(function() {
    // datepicker
    $('#datetimepicker1').datepicker();
    $('#datetimepicker2').datepicker();

    $( "#datetimepicker1" ).datepicker( "option", "dateFormat", 'yy/mm/dd' );
    $( "#datetimepicker2" ).datepicker( "option", "dateFormat", 'yy/mm/dd' );

    $('#datetimepicker1').val('<%= @from %>');
    $('#datetimepicker2').val('<%= @to %>');


    // bind event
    $( "#btnToday" ).on( "click", function() {
      $( this ).prop( "disabled", true );
      MainUser.view_by('today');
    });

    $( "#btnYesterday" ).on( "click", function() {
      $( this ).prop( "disabled", true );
      MainUser.view_by('yesterday');
    });

    $( "#btnThisWeek" ).on( "click", function() {
      $( this ).prop( "disabled", true );
      MainUser.view_by('this-week');
    });

    $( "#btnLastWeek" ).on( "click", function() {
      $( this ).prop( "disabled", true );
      MainUser.view_by('last-week');
    });

    $( "#btnThisMonth" ).on( "click", function() {
      $( this ).prop( "disabled", true );
      MainUser.view_by('this-month');
    });

    $( "#btnLastMonth" ).on( "click", function() {
      $( this ).prop( "disabled", true );
      MainUser.view_by('last-month');
    });

    $( "#btnRefresh" ).on( "click", function() {
      $( this ).prop( "disabled", true );
      MainUser.view_by('dates');
    });

    $( "#btnShowDatetimePicker1" ).on( "click", function() {
      $('#datetimepicker1').datepicker( 'show' );
    });

    $( "#btnShowDatetimePicker2" ).on( "click", function() {
      $('#datetimepicker2').datepicker( 'show' );
    });

    $( "#btnExport" ).on( "click", function() {
      window.location = "<%= users_export_path(base64_domain: @domain_encoded) %>";
    });
	});
</script>

<script>
  // Global
  var datatable;

	jQuery(document).ready(function() {
    // Init DataTable
    datatable = $('#main-table').dataTable( {
      serverSide: true,
      processing: true,
      retrieve: true,
      dom: 'rtip',
      deferLoading: true,
      order: [[ 1, "asc" ]],
      pageLength: 20,
      ajax: {
        url: '/main/users/<%= @domain_encoded %>.json',
        dataSrc: 'data',
        data: function(params) {
          //params.filter = VyrianSearchPage.filter;
          params.from = MainUser.FROM;
          params.to = MainUser.TO;
        }
      },
      columns: [
        { 
          "name": "recipient",
          "data": function(row, b, c, d){
            return '<a href="<%= details_by_domain_path(base64_domain: @domain_encoded)%>">' + row.recipient + '</a>';
          }
        },
        { "name": "sent", "title": "Sent", "data": "sent" },
        { "name": "delivered", "title": "Received", "data": "delivered" },
        //{ "name": "deferred", "title": "Deferred",  "data": "deferred" },
        //{ "name": "rejected", "title": "Rejected",  "data": "rejected" },
        { "name": "bounced", "title": "Bounced",  "data": "bounced" },
        { "name": "success_rate", "title": "Success Rate",  "data": function(row){ return row.success_rate + '%' } },

        { "name": "sent_30", "title": "Sent<br>(last 30 days)", "data": "sent_30" },
        { "name": "delivered_30", "title": "Received<br>(last 30 days)", "data": "delivered_30" },
        //{ "name": "deferred", "title": "Deferred",  "data": "deferred" },
        //{ "name": "rejected", "title": "Rejected<br>(last 30 days)",  "data": "rejected" },
        { "name": "bounced_30", "title": "Bounced<br>(last 30 days)",  "data": "bounced_30" },
        { "name": "success_rate_30", "title": "Success Rate (last 30 days)",  "data": function(row){ return row.success_rate_30 + '%' } }
      ],
      
      drawCallback: function( settings ) {
        //
      }
    } );

    // load
    datatable.DataTable().draw();
	});
</script>

